<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvisions.mes.dict.dao.DictMapper">
  <resultMap id="BaseResultMap" type="com.hvisions.mes.dict.entity.Dict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="value_code" jdbcType="INTEGER" property="valueCode" />
    <result column="value_name" jdbcType="VARCHAR" property="valueName" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hvisions.mes.dict.entity.Dict">
    insert into t_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null">
        id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="valueCode != null">
        value_code,
      </if>
      <if test="valueName != null">
        value_name,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="valueCode != null">
        #{valueCode,jdbcType=VARCHAR},
      </if>
      <if test="valueName != null">
        #{valueName,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hvisions.mes.dict.entity.Dict">
    update t_dict
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="valueCode != null">
        value_code = #{valueCode,jdbcType=VARCHAR},
      </if>
      <if test="valueName != null">
        value_name = #{valueName,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type_code, type_name, value_code, value_name, creator_id, create_time, 
    updater_id, update_time
    from t_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.hvisions.mes.dto.dict.SaveDictDTO"
  parameterType="com.hvisions.mes.dto.dict.SearchDictDTO">
    select id, type_code, type_name, value_code, value_name, creator_id, create_time, 
    updater_id, update_time
    from t_dict
    order by update_time desc
  </select>

  <select id="findByType" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT
        value_code as valueCode,
        value_name as valueName
    FROM
        t_dict
    WHERE
        type_code = #{type}
    ORDER BY
        value_code
  </select>

  <select id="findPlantByParentId" parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT
        code,
        name
    FROM
        equipment.hv_bm_location
    WHERE
        parent_id = #{parentId}
  </select>

  <select id="findProdLine" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT
        code,
        name
    FROM
        equipment.hv_bm_location
    WHERE
        name like concat('%', #{prodLine})
  </select>

  <select id="findAllUser" resultType="java.util.Map">
    SELECT
        id,
        user_name as userName
    FROM
        authority.sys_user
  </select>
  
  <select id="findEquipmentByPlantCode" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT
        t1.equipment_code AS equipmentCode,
        t1.equipment_name AS equipmentName,
        (
            SELECT
                equipment_type_name
            FROM
                equipment.hv_bm_equipment_type
            WHERE
                id = t1.equipment_type_id
        ) AS equipmentType
    FROM
        equipment.hv_bm_equipment t1
    LEFT JOIN equipment.hv_bm_equipment_cell t2 ON t1.id = t2.equipment_id
    LEFT JOIN equipment.hv_bm_location t3 ON t2.cell_id = t3.id
    LEFT JOIN equipment.hv_bm_location t4 ON t4.id = t3.parent_id
    WHERE
        t4.code = #{plantCode}
    AND t4.type = 30
  </select>
</mapper>